{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center mb-4">About Trip Planner App</h1>
                    <hr>
                    <div class="my-4">
                        <h4>Project Description</h4>
                        <p>Trip Planner App is a web application that helps travelers explore and discover various places of interest in different cities. Using TripAdvisor's extensive database, this application provides information about restaurants, hotels, and attractions in selected cities.</p>
                        
                        <p>Users can easily navigate between different cities and categories, view photos, addresses, and visit the official websites of these establishments. The application is designed to be user-friendly and visually appealing, making travel planning a breeze.</p>
                    </div>
                    
                    <div class="my-4">
                        <h4>Features</h4>
                        <ul>
                            <li>Browse restaurants, hotels, and attractions in different cities</li>
                            <li>View photos and details of each place</li>
                            <li>Get direct links to official websites</li>
                            <li>Intuitive carousel navigation for easy browsing</li>
                        </ul>
                    </div>
                    
                    <div class="my-4">
                        <h4>Developer Information</h4>
                        <p class="lead">This application was created by Richard Le as part of a project for TCSS 506.</p>
                        <p>Feel free to reach out for any questions or feedback about this application!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}